<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='styles/base.css' rel='stylesheet' type='text/css'>
  <title>Document</title>
</head>
<body>
  <main id='image-detail-main'>
    <img id='picture-thumbnail' src=<%= picture.thumbnail %>> 
    <h1 id='picture-name'><%= picture.name %> </h1> 
    <p id='picture-author'>Photo by: <%= picture.author  %></p> 
    <a id='download-link' href="<%= picture.download %>" target="_blank">Download Link.</a> <br><br>
    
    
    <form class="image-results" action="/imageDetails" method="POST">
      <fieldset>
      <input type="hidden" name= "category" value="<%= picture.category %>">
      <input type="hidden" name= "name" value="<%= picture._name %>">
      <input type="hidden" name= "description" value="<%= picture.description %>">
      <input type="hidden" name= "full_description" value="<%= picture.full_description %>">
      <input type="hidden" name= "image" value="<%= picture.image %>">
      <input type="hidden" name= "small_image" value="<%= picture.small_image %>">
      <input type="hidden" name= "thumbnail" value="<%= picture.thumbnail %>">
      <input type="hidden" name= "author" value="<%= picture.author %>">
      <input type="hidden" name= "download" value="<%= picture.download %>">
      
        <input type="text" name="client_id" value="Customer Name Here" placeholder="Customer Name">
        <input type="text" name="project_id" value="Project Name Here" placeholder="Project Name">
        <button class="save" type="subtmit" formaction="/save" onclick="myAlert()">Save</button>
      </fieldset>
    </form>
   
    
        <a href="/">back to home page</a> 
    </form>
  </main>
</body>
</html>
