<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Photo App</title>
    <link href='styles/base.css' rel='stylesheet' type='text/css'>
    <script src="./js/app.js"></script>
</head>
<body>
  <%- include('../layouts/header.ejs') %>
  <main>
    <% apiResults.forEach(obj => { %>
      <div class='searched-images'>
          <form action="/imageDetails" method="POST">
              <fieldset>
              <input type="hidden" name= "category" value="<%= obj.category %>">
              <input type="hidden" name= "name" value="<%= obj._name %>">
              <input type="hidden" name= "description" value="<%= obj.description %>">
              <input type="hidden" name= "full_description" value="<%= obj.full_description %>">
              <input type="hidden" name= "image" value="<%= obj.image %>">
              <input type="hidden" name= "small_image" value="<%= obj.small_image %>">
              <input type="hidden" name= "thumbnail" value="<%= obj.thumbnail %>">
              <input type="hidden" name= "author" value="<%= obj.author %>">
              <input type="hidden" name= "download" value="<%= obj.download %>">
              
              <button class = "imageDeatilsButton" type="submit">
                  <img src=<%= obj.small_image %> />
              </button>
             </fieldset>
              <fieldset class="organization">
                <input type="text" name="client_id" value="Customer Name Here" placeholder="Customer Name">
                <input type="text" name="project_id" value="Project Name Here" placeholder="Project Name">
                <button type="subtmit" formaction="/save" onclick="myAlert()">Save this Photo</button>
              </fieldset>
              <!-- <button class="saveMenu">Save</button> -->
          </form>
        </div>
      <% }) %> 
  </main>
  <%- include('../layouts/footer.ejs') %>
</body>
</html>